@import './variables.scss';
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: #000;
  color: $color-white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $color-white;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
