@import '../variables.scss', '../mixins.scss';
.presentation {
  font-size: clamp(0.4em, 0.2em + 2.53vw, 2em);
  text-align: center;
  height: 100vh;
  @include flex(column, nowrap, center, center, 0);
  &__text {
    color: $color-green;
    font-size: 2em;
    text-transform: uppercase;
  }
  &__a {
    display: flex;
    width: 8em;
    background: #1e6855;
    padding: 0.4em;
    border-radius: 0.2em;
    margin: 1em auto;
    justify-content: center;
    gap: 0.5em;
  }
}
