@import '../mixins.scss';
.proyects {
  &__ocult {
    display: none;
  }
  &__modal {
    @include modal();
    // display: block;
  }

  &__map {
    cursor: pointer;
    min-width: 19em;
    @include flex(row, wrap, center, center, 1em);
  }
  &__h2 {
    text-align: center;
    font-size: clamp(1.1em, 0.4em + 2vw, 2.1em);
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: underline;
    margin: 0.5em 0;
  }
  &__images {
    @include flex(row, wrap, center, center, 1em);
  }
  &__img {
    height: 25em;
    width: 17em;
  }
}
